@import "sky-toolkit-core/all";

body {
  font-family: "Sky Text" !important;
  font: 14px;
}

a {
  color: #00B7FF;
}

figure {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 200px;
  /*background-position: 50% 50%;*/
  /*background-attachment: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.comic-thumbnail{
  display: inline-block;
  margin: 10px;
}

.error {
  font-family: 'Courier New', monospace;
  color: rgb(239, 38, 38);
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

.options{
  clear: both;
  height: 70px;
}

.options input {
  border: 0;
  display: inline-block;
  height: 30px;
  border: 1px solid #DDD;
  float: left;
}

.options img {
  text-align: center;
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px grey;
  border-radius: 25px;
}

#brand-logo{
  height: 30px;
}

.container{
  width: 1000px;
}


.shelf{
  width: 100%;
  overflow-y: scroll;
  white-space: nowrap;
}

.navbar,
.navbar li a{
  height: 60px;
}

.bootstrap-override .navbar-brand {
  padding: 10;
}

#main-container{
  margin-top: 60px;
  padding: 20px;
}
